<div [@movementtrigger] style="">
    <div class="" style="margin-bottom: 5px;">
        <div class="row" style="">
          <div class="col-sm-6" >
           <div  class="col-sm-12" style="background: rgb(186, 221, 233); padding: 20px;margin:5px;border-radius: 10px;">
              <div class="">
                  <h2>Send a message</h2>
                  <form action="/action_page.php">
                      <div class="form-group">
                          <label for="first">First Name</label>
                          <input type="text" class="form-control" id="first" placeholder="Enter first name" name="first">
                      </div>
                      <div class="form-group">
                          <label for="last">Last Name</label>
                          <input type="text" class="form-control" id="last" name="last" placeholder="Enter last name">
                      </div>
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="form-control" id="state" name="state" autofocus  required>
                            <option selected>Maharashtra</option>
                            <option>Karnataka</option>
                            <option disabled>Bihar</option>
                            <option>Gujrat</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea class="form-control" id="comments" name="comments" placeholder="Add comments" resize="false" rows="10" style="resize: none"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                  </form>
                </div>
                
              </div>
          </div>
          <div class="col-sm-6" >
              <div  class="col-sm-12" style="background: rgb(186, 221, 233); padding: 20px;margin:5px;border-radius: 10px;">
                 <div class="">
                     <h2>Class aptent taciti</h2>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                     <p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p><p>
                          Aenean congue nulla et ligula consectetur consequat. Nullam fringilla blandit risus vitae auctor. Donec sed sapien varius, tincidunt nulla ut, ultrices nisl.
                     </p>
                   </div>
                   
                 </div>
             </div>
        </div>
      </div>
      
      
</div>