<div [@movementtrigger] >
<div     class="row" id="abcpng" style="background: lightblue;">
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-01-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-01-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>	                                                                                                                                                                      
  </div>
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-02-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-02-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-03-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-03-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-04-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-04-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
</div>

<div     class="row" id="abcpng" style="background: lightblue;">
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-01-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-01-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-02-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-02-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-03-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-03-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
  <div class="col-sm-3">
    <figure>
      <a  href="assets/images/tm-img-04-tn.jpg" data-effect="mfp-move-from-top">
        <img src="assets/images/tm-img-04-tn.jpg"  class="img img-responsive" alt="first">
      
      <figcaption style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%)">
       
        <h1 style="text-transform: uppercase">click</h1>
      </figcaption>
    </a>
    </figure>
  </div>
</div>
</div>
  <script>
 
</script>